*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}
#product-detail-container{
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.product-detail {
  text-align: center;
  margin: 20px;
}

.product-detail img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

.product-detail h1 {
  font-size: 2rem;
  margin: 20px 0;
}

.product-detail p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-detail button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-detail button:hover {
  background-color: #0056b3;
}

header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

header nav ul li a:hover {
  text-decoration: underline;
}
footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}